<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.maker.dao.EditsMapper" >

  <!--查询首页菜单栏-->
  <select id="queryIndexMenuList" resultType="org.maker.pojo.Edits">
    SELECT * FROM enj_edit WHERE editpid IS NULL
  </select>

  <!--查询首页征文本期标题-->
  <select id="queryEssaythemesTitleSpan" resultType="org.maker.pojo.Essaythemes">
    SELECT * FROM enj_essaytheme WHERE themestatus = 1
  </select>

  <!--查询首页征文内容展示-->
  <select id="queryIndexSolicitarticlesUl" resultType="org.maker.pojo.Solicitarticless">
    SELECT  so.*,us.username solicusername FROM enj_solicitarticles so,enj_users us WHERE gambitid = #{gambitid} 	and so.userqid = us.userid
  </select>

  <!--查询下一期征文标题-->
  <select id="queryNextEssaythemes" resultType="org.maker.pojo.Essaythemes">
    SELECT * FROM enj_essaytheme WHERE themestatus = 2
  </select>

  <!--查询下一期征文已投稿数量-->
  <select id="queryYiTouGaoNumber" resultType="Long">
    SELECT count(*) FROM enj_solicitarticles WHERE gambitid = #{articletopicid}
  </select>

  <!--查询首页往期征文展示-->
  <select id="queryPastArtWITHfive" resultType="org.maker.pojo.Solicitarticless">
    SELECT * FROM enj_solicitarticles WHERE ispastart = 1 limit 0,5
  </select>

</mapper>