<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.maker.dao.EssaythemesMapper" >
  <resultMap id="BaseResultMap" type="org.maker.pojo.Essaythemes" >
    <id column="articletopicid" property="articletopicid" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="themecontent" property="themecontent" jdbcType="VARCHAR" />
    <result column="themestarttime" property="themestarttime" jdbcType="DATE" />
    <result column="themeendtime" property="themeendtime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    articletopicid, title, themecontent, themestarttime, themeendtime
  </sql>


  <!--查询总条数-->
  <select id="queryEssayThemeListTotal" resultType="Long">
      SELECT count(*) from enj_essaytheme
  </select>

  <!--查询当前页所需数据-->
  <select id="queryEssayThemeListPage" resultType="org.maker.pojo.Essaythemes">
      SELECT * FROM enj_essaytheme limit #{start},#{rows}
  </select>











  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from enj_essaytheme
    where articletopicid = #{articletopicid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from enj_essaytheme
    where articletopicid = #{articletopicid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.maker.pojo.Essaythemes" >
    insert into enj_essaytheme (articletopicid, title, themecontent, 
      themestarttime, themeendtime)
    values (#{articletopicid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{themecontent,jdbcType=VARCHAR}, 
      #{themestarttime,jdbcType=DATE}, #{themeendtime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="org.maker.pojo.Essaythemes" >
    insert into enj_essaytheme
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="articletopicid != null" >
        articletopicid,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="themecontent != null" >
        themecontent,
      </if>
      <if test="themestarttime != null" >
        themestarttime,
      </if>
      <if test="themeendtime != null" >
        themeendtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="articletopicid != null" >
        #{articletopicid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="themecontent != null" >
        #{themecontent,jdbcType=VARCHAR},
      </if>
      <if test="themestarttime != null" >
        #{themestarttime,jdbcType=DATE},
      </if>
      <if test="themeendtime != null" >
        #{themeendtime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.maker.pojo.Essaythemes" >
    update enj_essaytheme
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="themecontent != null" >
        themecontent = #{themecontent,jdbcType=VARCHAR},
      </if>
      <if test="themestarttime != null" >
        themestarttime = #{themestarttime,jdbcType=DATE},
      </if>
      <if test="themeendtime != null" >
        themeendtime = #{themeendtime,jdbcType=DATE},
      </if>
    </set>
    where articletopicid = #{articletopicid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.maker.pojo.Essaythemes" >
    update enj_essaytheme
    set title = #{title,jdbcType=VARCHAR},
      themecontent = #{themecontent,jdbcType=VARCHAR},
      themestarttime = #{themestarttime,jdbcType=DATE},
      themeendtime = #{themeendtime,jdbcType=DATE}
    where articletopicid = #{articletopicid,jdbcType=INTEGER}
  </update>
</mapper>