<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.maker.dao.PicgroupsMapper" >
  <resultMap id="BaseResultMap" type="org.maker.pojo.Picgroups" >
    <id column="picorganizeid" property="picorganizeid" jdbcType="INTEGER" />
    <result column="picid" property="picid" jdbcType="VARCHAR" />
    <result column="picname" property="picname" jdbcType="VARCHAR" />
    <result column="piccover" property="piccover" jdbcType="INTEGER" />
    <result column="piclike" property="piclike" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    picorganizeid, picid, picname, piccover, piclike
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from enj_picgroup
    where picorganizeid = #{picorganizeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from enj_picgroup
    where picorganizeid = #{picorganizeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.maker.pojo.Picgroups" >
    insert into enj_picgroup (picorganizeid, picid, picname, 
      piccover, piclike)
    values (#{picorganizeid,jdbcType=INTEGER}, #{picid,jdbcType=VARCHAR}, #{picname,jdbcType=VARCHAR}, 
      #{piccover,jdbcType=INTEGER}, #{piclike,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.maker.pojo.Picgroups" >
    insert into enj_picgroup
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="picorganizeid != null" >
        picorganizeid,
      </if>
      <if test="picid != null" >
        picid,
      </if>
      <if test="picname != null" >
        picname,
      </if>
      <if test="piccover != null" >
        piccover,
      </if>
      <if test="piclike != null" >
        piclike,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="picorganizeid != null" >
        #{picorganizeid,jdbcType=INTEGER},
      </if>
      <if test="picid != null" >
        #{picid,jdbcType=VARCHAR},
      </if>
      <if test="picname != null" >
        #{picname,jdbcType=VARCHAR},
      </if>
      <if test="piccover != null" >
        #{piccover,jdbcType=INTEGER},
      </if>
      <if test="piclike != null" >
        #{piclike,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.maker.pojo.Picgroups" >
    update enj_picgroup
    <set >
      <if test="picid != null" >
        picid = #{picid,jdbcType=VARCHAR},
      </if>
      <if test="picname != null" >
        picname = #{picname,jdbcType=VARCHAR},
      </if>
      <if test="piccover != null" >
        piccover = #{piccover,jdbcType=INTEGER},
      </if>
      <if test="piclike != null" >
        piclike = #{piclike,jdbcType=INTEGER},
      </if>
    </set>
    where picorganizeid = #{picorganizeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.maker.pojo.Picgroups" >
    update enj_picgroup
    set picid = #{picid,jdbcType=VARCHAR},
      picname = #{picname,jdbcType=VARCHAR},
      piccover = #{piccover,jdbcType=INTEGER},
      piclike = #{piclike,jdbcType=INTEGER}
    where picorganizeid = #{picorganizeid,jdbcType=INTEGER}
  </update>
</mapper>