<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.maker.dao.RechargesMapper" >
  <resultMap id="BaseResultMap" type="org.maker.pojo.Recharges" >
    <id column="rechargeid" property="rechargeid" jdbcType="INTEGER" />
    <result column="userzid" property="userzid" jdbcType="INTEGER" />
    <result column="withdrawmoney" property="withdrawmoney" jdbcType="INTEGER" />
    <result column="nowstatus" property="nowstatus" jdbcType="INTEGER" />
    <result column="receiptmessage" property="receiptmessage" jdbcType="VARCHAR" />
    <result column="receipttime" property="receipttime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    rechargeid, userzid, withdrawmoney, nowstatus, receiptmessage, receipttime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from enj_recharge
    where rechargeid = #{rechargeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from enj_recharge
    where rechargeid = #{rechargeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.maker.pojo.Recharges" >
    insert into enj_recharge (rechargeid, userzid, withdrawmoney, 
      nowstatus, receiptmessage, receipttime
      )
    values (#{rechargeid,jdbcType=INTEGER}, #{userzid,jdbcType=INTEGER}, #{withdrawmoney,jdbcType=INTEGER}, 
      #{nowstatus,jdbcType=INTEGER}, #{receiptmessage,jdbcType=VARCHAR}, #{receipttime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.maker.pojo.Recharges" >
    insert into enj_recharge
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rechargeid != null" >
        rechargeid,
      </if>
      <if test="userzid != null" >
        userzid,
      </if>
      <if test="withdrawmoney != null" >
        withdrawmoney,
      </if>
      <if test="nowstatus != null" >
        nowstatus,
      </if>
      <if test="receiptmessage != null" >
        receiptmessage,
      </if>
      <if test="receipttime != null" >
        receipttime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rechargeid != null" >
        #{rechargeid,jdbcType=INTEGER},
      </if>
      <if test="userzid != null" >
        #{userzid,jdbcType=INTEGER},
      </if>
      <if test="withdrawmoney != null" >
        #{withdrawmoney,jdbcType=INTEGER},
      </if>
      <if test="nowstatus != null" >
        #{nowstatus,jdbcType=INTEGER},
      </if>
      <if test="receiptmessage != null" >
        #{receiptmessage,jdbcType=VARCHAR},
      </if>
      <if test="receipttime != null" >
        #{receipttime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.maker.pojo.Recharges" >
    update enj_recharge
    <set >
      <if test="userzid != null" >
        userzid = #{userzid,jdbcType=INTEGER},
      </if>
      <if test="withdrawmoney != null" >
        withdrawmoney = #{withdrawmoney,jdbcType=INTEGER},
      </if>
      <if test="nowstatus != null" >
        nowstatus = #{nowstatus,jdbcType=INTEGER},
      </if>
      <if test="receiptmessage != null" >
        receiptmessage = #{receiptmessage,jdbcType=VARCHAR},
      </if>
      <if test="receipttime != null" >
        receipttime = #{receipttime,jdbcType=DATE},
      </if>
    </set>
    where rechargeid = #{rechargeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.maker.pojo.Recharges" >
    update enj_recharge
    set userzid = #{userzid,jdbcType=INTEGER},
      withdrawmoney = #{withdrawmoney,jdbcType=INTEGER},
      nowstatus = #{nowstatus,jdbcType=INTEGER},
      receiptmessage = #{receiptmessage,jdbcType=VARCHAR},
      receipttime = #{receipttime,jdbcType=DATE}
    where rechargeid = #{rechargeid,jdbcType=INTEGER}
  </update>
</mapper>