<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.maker.dao.SOlicIntegralMapper" >
  <resultMap id="BaseResultMap" type="org.maker.pojo.SOlicIntegral" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="usersoinid" property="usersoinid" jdbcType="INTEGER" />
    <result column="solicid" property="solicid" jdbcType="INTEGER" />
    <result column="soingral" property="soingral" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, usersoinid, solicid, soingral
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from enj_solic_integral
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from enj_solic_integral
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.maker.pojo.SOlicIntegral" >
    insert into enj_solic_integral (id, usersoinid, solicid, 
      soingral)
    values (#{id,jdbcType=INTEGER}, #{usersoinid,jdbcType=INTEGER}, #{solicid,jdbcType=INTEGER}, 
      #{soingral,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.maker.pojo.SOlicIntegral" >
    insert into enj_solic_integral
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="usersoinid != null" >
        usersoinid,
      </if>
      <if test="solicid != null" >
        solicid,
      </if>
      <if test="soingral != null" >
        soingral,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="usersoinid != null" >
        #{usersoinid,jdbcType=INTEGER},
      </if>
      <if test="solicid != null" >
        #{solicid,jdbcType=INTEGER},
      </if>
      <if test="soingral != null" >
        #{soingral,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.maker.pojo.SOlicIntegral" >
    update enj_solic_integral
    <set >
      <if test="usersoinid != null" >
        usersoinid = #{usersoinid,jdbcType=INTEGER},
      </if>
      <if test="solicid != null" >
        solicid = #{solicid,jdbcType=INTEGER},
      </if>
      <if test="soingral != null" >
        soingral = #{soingral,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.maker.pojo.SOlicIntegral" >
    update enj_solic_integral
    set usersoinid = #{usersoinid,jdbcType=INTEGER},
      solicid = #{solicid,jdbcType=INTEGER},
      soingral = #{soingral,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>